@model List<CodeFirstApproach.Models.EmployeeModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
 @foreach (var item in Model)
 {
     <tr>
         <td>@item.EmpId</td>
         <td>@item.EmpName</td>
     </tr>
 }
</table>